@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container, nav{
    width: 100%;
}
nav{
    border: 2px solid black;
    border-radius: 40px;
    height: 60px;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    background: rgb(245,39,60);
background: linear-gradient(90deg, rgba(245,39,60,1) 0%, rgba(240,124,234,1) 54%, rgba(19,23,245,1) 100%);
}
nav, .action ul, .tombol{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.title{
    width: 20%;
    text-transform: uppercase;
    font-weight: 600;
}
.action{
    width: 40%;
}
.action ul li:hover{
    transform: scale(1.1);
}
.action ul{
    width: 80%;
    justify-content:space-around;
}
.tombol{
    width: 30%;
    justify-content: flex-end;
    gap: 10px;
}
.login, .sign-up{
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    color: white;
}
.login{
    background-color: #80ed99;
}
.login:active{
    transform: scale(0.9);
    background-color: #66bc7a;

}
.sign-up{
    background-color: #ef233c;
}
.sign-up:active{
    transform: scale(0.9);
    background-color: #7e101d;

}
ul li{
    list-style-type: none;
    gap: 0px;
}
ul li a{
    font-size: medium;
}
ul li a:hover{
    color: #ef233c;
}
ul li a{
    color: black;
    text-decoration: none;
}