html{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    background-image:url(../assests/img/kopi.jpg);
    background-size:cover;
    width: 100%;
    height: 700px;
}
.wadah1{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    color: whitesmoke;
    width: 100%;
    height: inherit;
    flex-direction: column;
    padding-top: 120px;
}
button{
    width: 75px;
    height: 30px;
}
h1{
    font-size:45px ;
}
p{
    font-size: 20px;
}