html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cotainer, nav{
    width: 100%;
}
nav,.action ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.title{
    width: 20%;
}
.action{
    width: 30%;
}
.tombol{
    width: 10%;
}
button{
    padding: 10px;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}