html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    background-image:url(../assets/img/Gelombang-Suara.jpg);
    filter: brightness(1.48) contrast(1.07) hue-rotate(-360deg) ;
    background-size: cover;
}
.produk{
    width: 100%;
    background-image: url(../assets/img/headphone.png);
    /* filter: brightness(1.3) hue-rotate(-360deg) saturate(1) ; */
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
}
.review{
    margin-left: 55%;
    width: 35%;
    height: 50%;
    background-color: rgba(135, 135, 135, 0.26);
    position:absolute;
    top:30%;
}
.review:hover{
    background-color: rgba(135, 135, 135, 0.35);
    border-radius: 10%;
    transition:1s;
}
h1{
    color: rgb(255,4,66);
}
p{
    height: 20%;
    text-align: left;
    color:silver;
}
button{
    margin-left: 40%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: green;
}
.good{
    color:white;
    width: 50%;
    height: 90vh;
}
.number{
    position: relative;
    background-color: green;
    border-radius: 20px;
    padding: 5px;
}
.one{
    width: 18%;
    top: 55%;
    left: 20%;
}
.two{
    width: 20%;
    top: 15%;
    left: 15%;
}
.three{
    width: 100px;
    top:10%;
    left: 100%;
}