*,
*::before
*::after{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color: black;
}
.container{
    width: 98%;
    background-color: white;
    outline:12px solid gray;
    border-radius:18px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size:small;
}
.explore::before, .location::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    display: block;
    bottom: 19px;
    background-color: black;
  }
  .explore,
  .location {
    /* border-bottom: 5px solid black; */
    font-size: 3.5rem;
    width: 100%;
    position: relative;
  }
.explore h1, .location h1{
    margin-top: 0;
    margin-bottom: 0;
}
.location {
    display: flex;
    justify-content: flex-end;
}
.click{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    font-size: small;
    text-align: center;
}
.discover {
    display: flex;
    justify-content: space-between;

}
.discover a{
    color:black;
    text-decoration: none;
    padding: 5px;
}
main{
    width: 100%;
    display: flex;
    border-bottom:5px solid black ;
}
.picture{
    width: 50%;
}
main .picture img{
    width: 100%;
    height: 350px;
}
.caption{
    width: 50%;
    padding-left: 20px;
    padding-right: 10px;
}
.caption p:nth-child(1){
    margin-top: 120px;
    font-weight: 600;
    line-height: 1.5;
}
.caption p:nth-child(2){
    font-size: smaller;
    font-weight: 100;
    text-transform: none;
}
footer{
    display: flex;
    justify-content: space-between;
}
.bahasa{
    display: flex;
    gap: 10px;
}
.arrow{
    width: 30%;
    display: flex;
    align-items: center;
}
.arrow p:nth-child(3){
    margin-left:10px;
}
.garis{
    width: 25%;
    border-bottom:2px solid black;
}
.architecture h3{
    border:2px solid black;
    border-radius: 10px;
    padding: auto;
}
@media only screen and (max-width:600px){
    body{
        background-color: white;
    }
    .container{
        width: 95%;
        outline: none;
        border-radius: 0;
    }
    nav {
        font-size: 10px;
    }
    .explore h1, .location h1{
        font-size: 40px;
    }
    .click{
        display: none;
    }
    .explore::before, .location::before{
        bottom: 5px;
    }
    .discover{
        font-size:10px ;
        font-weight: 700;
    }
    .discover a:nth-child(2){
        display: none;
    }
    main{
        flex-direction: column;
    }
    .picture{
        width:100%
    }
    .caption{
        padding: 0;
        width:100%;
    }
    .caption p:nth-child(1){
        margin-top: 10px;
    }
    footer{
        font-size: 10px;
        position: relative;
    }
    .bahasa{
        font-size: large;
    }
    .arrow .garis, .arrow p i{
        display: none;
    }
    .arrow{
        width: 70%;
        font-size: 15px;
    }
    .architecture{
        position: absolute;
        right: 0;
        bottom: 0;
        top: 30px;
        font-size: medium;
        font-weight: 100;
    }
}