*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    background: rgb(0,255,135);
    background: linear-gradient(90deg, rgba(0,255,135,1) 0%, rgba(43,255,235,1) 48%, rgba(43,97,255,1) 100%);
}
.card{
    border: none;
    border-radius: 15px;
    margin-top: 5%;
    width: 20%;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.696);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card:hover{
    border: 2px solid purple;
    background-color: rgba(255, 255, 255, 0.9);
}
.card h3{
    text-align: center;
    color: darkgreen;
}
.harga{
    font-size:15px;
    display: flex;
    align-items: center;
    height: 25%;
    gap: 10px;
}
.fitur{
    height: 50%;
}
.fitur ul{
    gap: 20px;
}
.fitur ul li{
    list-style-type: none;
    text-align: left;
}
button{
    width: 100%;
    background-color:  springgreen;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: medium;
    padding: 5px;
}
button:active{
    background-color: rgba(6, 206, 106, 0.979);
    transform: scale(0.9);
}