@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: whitesmoke;
}
.card{
    background-color: white;
    padding: 10px;
    width: 25%;
    height: 200px;
    border: none;
    border-radius:20px;
    background-image: url(../assests/img/png-foto.png);
    background-size: cover;
    font-family: 'Merriweather', serif;
}
.card:hover{
    transform: scale(1.2);
}
.atas{
    display: flex;
    justify-content: space-between;
}
.nama{
    font-family: 'Times New Roman', Times, serif;
}
.nama h3{
    margin-bottom:0;
    color: black;
}
.nama h5{
    color: black;
    margin-top:0;
}
.scan img{
    width: 50px;
    height: 50px;
}
.bawah{
    text-align: right;
}
.icon{
    font-weight: 500;
}
.icon img{
    width: 20px;
    height: 20px;
}
a{
    text-decoration: none;
    color: black;
}