*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    width: 100%;
    height: 100%;
    padding-top: 5%;
}
.card{
    width: 20%;
    height: 350px;
    background-color:#f1f1f2;
    margin-left: 40%;
    margin-top:20px ;
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    gap:12px;
    padding:15px 20px;
    border:none;
    border-radius: 30px;
}
.foto img{
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius:50%;
}
.username{
    text-align: center;
}
 a{
    text-decoration: none;
    color:#0263a0;
}
h4 a:hover{
    color: red
}
.about{
    text-align: center;
}
.hastagh{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.tag{
    background-color: #f8f9fa;
    border: none;
    font-size: small;
    padding: 1px;
}
.tag:hover a{
    color:red;
}
.action{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.action button{
    border: none;
    border-radius:20px;
    font-size: small;
    cursor: pointer;
}
.action button:nth-child(1){
    padding: 10px 15px;
    background-color: #ffffff;
    box-shadow: 5px 5px 20px 0px rgba(255,255,252,0.75);
    -webkit-box-shadow: 5px 5px 20px 0px rgba(255,255,252,0.75);
    -moz-box-shadow: 5px 5px 20px 0px rgba(255,255,252,0.75);
}
.action button:nth-child(1):hover{
    background-color: silver;
    box-shadow: none;
}
.action button:nth-child(2){
    padding: 10px 20px;
    background-color: #4cb5f5;
    box-shadow: 5px 5px 20px 0px rgba(76,181,245,0.75);
    -webkit-box-shadow: 5px 5px 20px 0px rgba(76,181,245,0.75);
    -moz-box-shadow: 5px 5px 20px 0px rgba(76,181,245,0.75);
}
.action button:nth-child(2):hover{
    background-color: #90afc5;
    box-shadow: none;
}
@media screen and(max-width:600px) {
    .card{
        width: 20%;
        height: 100%;
        background-color: aqua;
    }
    .action{
        width: 80%;
    }
}