@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

html{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
main{
    width: 100%;
    display: flex;
    font-family: 'Nunito', sans-serif;
}
#left-content{
    width: 13%;
    height: 100%;
    background-color: white;
    border-right: 2px solid rgba(128, 128, 128);
    padding-left: 30px;
    position: fixed;
}
.nav-samping{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
    height: 90%;
    background-color: white;
}
.judul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: small;
    height: 10vh;
}
.judul h2:nth-child(2){
    color:#f31515;
    font-size: medium;
}
.feed{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 7vh;
}
.daftar{
    margin-top: 5px;
    line-height: 30px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    width: 100%;
    height: 20vh;
}
.daftar i{
    padding-right: 10px;
}
.daftar i:hover{
    color: #f31515;
}
.following .follow{
    width: 120%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.status a{
    color:rgb(29, 253, 126);
    font-size: small;
}
.status a:hover{
    color:#f31515;
    font-size: small;
}
.follower{
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.nama{
    width: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nama img{
    width: 25px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.more{
    line-height: 50px;
}
.more i, .log-out i{
    color: #f31515;
    padding-right: 10px;
}
.log-out{
    border-top: 2px solid rgba(128, 128, 128, 0.5);
    width: 100%;
    padding-top: 25%;
}
#right-content{
    width: 85%;
    margin-left: 15%;
    padding-left: 30px;
    justify-self: flex-end;
    overflow: hidden;
}
.navbar{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius:1rem;
}
.navbar-kiri{
    display: flex;
    align-items: center;
}
.navbar-kanan{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size:medium;
}
.navbar-kanan .profil{
    outline: 2px solid #f31515;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-kanan .profil img{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.next{
    display: flex;
    padding-right: 30px;
    gap: 15px;
}
.search{
    background-color: white;
    color: black;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 10px;
    border: 1px solid gray;
    padding-left: 20px;
    padding-right: 20px;
    height: fit-content;
}
.search input{
    padding-right: 50px;
    background-color: white;
    border: none;
    margin-right: 10px;
    height: 100%;
}
.main-content{
    padding-top: 20px;
}
.poster{
    background: rgb(0,29,69);
    background: linear-gradient(135deg, rgba(0,29,69,1) 50%, rgba(255,255,255,1) 100%);
    background-image: url(../../resource/img/poster.jpg);
    background-size: cover;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: white;
    border-radius: 20px;
}
.judul-film p{
    line-height: 1;
}
.rating ul{
    display: flex;
    justify-content: flex-start;
    gap:20px;
    margin-top: 40px;
}
.rating ul li{
    display: flex;
    gap: 10px;
}
.rating ul li:nth-child(1) img{
    background-color: gold;
    width: 25px;
    aspect-ratio: 2/1;

}
.rating ul li img, .icon img{
    width: 20px;
    aspect-ratio: 1/1;
}
.tonton-langsung{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.watching{
    display: flex;
    align-items: center;
    gap: 20px;
    color:white;
}
button{
    width: 100px;
    aspect-ratio: 2/1;
    border: none;
    border-radius: 1rem;
    background-color: #f31515;
    color: white;
}
.cuplikan{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-right: 20px;
}
.clip{
    width: 70px;
    height: 50px;
    border-radius: 10px;
    background-size: cover;
}
.clip-1{
    background-image: url(../../resource/img/cuplikan4.jpg);
    position: relative;
}
.clip-2{
    background-image: url(../../resource/img/cuplikan1.jpg);
}
.clip-3{
    position: relative;
    background-image: url(../../resource/img/cuplikan3.jpg);
}
.clip-1 i{
    position: absolute;
    left: -20%;
    top: 50%;
    color: #f31515;
    font-size: larger;
}
.clip-3 i{
    position: absolute;
    right:-20%;
    top: 30%;
    color: #f31515;
    font-size: larger;
}
.isi-parties{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.kotak{
    padding: 12px;
    width: 20%;
    border:1px solid gray;
    border-radius: 1rem;
    line-height: 0.5;
}
.foto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foto-film{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius:12px ;
}
.grup{
    position: relative;
}
.grup img{
    width: 25px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.grup img:nth-child(1){
    position: absolute;
    right: 30px;
    z-index: 1;
}
.grup img:nth-child(2){
    position: absolute;
    right: 15px;
    z-index: 2;
}
.grup img:nth-child(3){
    position: absolute;
    right: 0;
    z-index: 3;
}
.kotak .judul{
    line-height: 0.5;
}
.history{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.kotak-history{
    width: 23%;
    height: 130px;
    border:1px solid black;
    border-radius: 1rem;
    background-size: cover;
}
.kotak-history:nth-child(1){
    background-image: url(../../resource/img/alita.jpg);
}
.kotak-history:nth-child(2){
    background-image: url(../../resource/img/wanda.jpg);
}
.kotak-history:nth-child(3){
    background-image: url(../../resource/img/jurassic.jpg);
}
.kotak-history:nth-child(4){
    background-image: url(../../resource/img/avenger.jpg);
}