html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav, .action, .search{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    width: 100%;
    height: 50px;
}
.tittle{
    width: 20%;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 500;
}
.action{
    width: 25%;
}
.list{
    font-size:larger
}
.list a:hover{
    color:red;
}
.search{
    gap: 10px;
}
input, button{
    padding:8px;
    outline: none;
    border-radius: 20px;
    border: 1px solid black;
}
button{
    border-radius: 15px;
    padding:8px 10px
}