html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f3ea;
  position: relative;
}
/* todo - bagian Navbar */
nav {
  width: 95vw;
  height: 10vh;
  background-color: rgb(18, 18, 24);
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  font-size: medium;
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
}
.judul {
  width: 15%;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.judul img {
  height: 30px;
  width: 30px;
}
.tengah {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.tengah ul {
  display: flex;
  width: 35vw;
  justify-content: space-between;
}
.tengah ul li {
  list-style-type: none;
  font-size: large;
}
.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}
button {
  border: 1px solid white;
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: black;
  color: white;
}
.burger {
  display: none;
}
/* todo - bagian main */
main {
  width: 90vw;
  height: 75vh;
  margin-top: 6rem;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  display: flex;
  margin-bottom: 20vh;
}
.aplikasi {
  height: 20px;
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-bottom: 30px;
}
.header1 {
  font-size: 60px;
  width: 35vw;
  font-weight: 700;
  text-transform: capitalize;
  text-align: left;
}
.text {
  width: 45vw;
  margin-top: 35px;
}
.text p {
  width: 35vw;
  color: black;
  margin-top: 30px;
}
.get_started {
  width: 50%;
  height: 50px;
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  margin-top: 40px;
  margin-bottom: 20px;
}
.status {
  margin-top: 50px;
  width: 50vw;
  height: 20vh;
  display: flex;
}
.value {
  width: 20vw;
  height: 20vh;
}
.top {
  width: 17vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  font-size: 30px;
}
.garis {
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  width: 15vw;
}
.angka {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.keterangan {
  width: 18vw;
}
a {
  color: black;
  font-weight: 800;
}
/* todo - Main gambar */
.gambar {
  width: 45vw;
  height: 75vh;
  display: flex;
  position: relative;
}
.gambar-kiri {
  width: 20%;
  height: 80%;
  margin-left: 50px;
}
.tambah {
  font-size: 110px;
  top: 4vh;
  left: 0vw;
  color: black;
  position: absolute;
}
.pesawat {
  background-image: url(../../resource/img/pesiwit.jpg);
  background-size: cover;
  width: 240px;
  height: 190px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(252, 239, 239);
  padding: 10px;
  margin-top: 100px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foot h2{
  width: 50%;
}
.arow {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calender {
  margin-top: 5px;
  color: whitesmoke;
  width: 240px;
  height: 190px;
  padding: 10px;
  border-radius: 20px;
  background: #f8b4c0;
  background: radial-gradient(
    circle farthest-corner at center center,
    #f8b4c0 0%,
    #110f0f 30%
  );
  background: -webkit-radial-gradient(
    circle farthest-corner at center center,
    #f8b4c0 0%,
    #110f0f 30%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at center center,
    #f8b4c0 0%,
    #110f0f 30%
  );
}
.calender .top,
.calender .tiket,
.calender .event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 100;
  width: 220px;
  height: 40px;
}
.info {
  font-weight: 900;
  font-size: 20px;
}
.titik {
  border: 2px dotted white;
  margin-top: 10px;
}
.calender .tiket {
  margin-top: 40px;
}
.gambar-kanan {
  width: 25%;
  height: 80%;
  margin-left: 150px;
}
.sayap {
  width: 240px;
  height: 190px;
  border-radius: 15px;
  background-color: #110f0f;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.atas,
.nama {
  width: 230px;
  height: 10px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.atas {
  margin-top: 10px;
}
.nama {
  margin-bottom: 10px;
}
.pic {
  width: 220px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pic img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.waw {
  margin: 5px;
  width: 240px;
  height: 100px;
  background-color: #0e0d13;
  color: white;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
.waw .title,
.jkf .title {
  font-size: 25px;
}
.waw .lingkaran {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  left: 46%;
  top: 40%;
}
.waw .bawah {
  margin: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}
.waw .bawah .garis2 {
  border-right: 2px dotted white;
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 99;
}
.waw .bawah h5 {
  width: 110px;
  height: 50px;
  line-height: 5;
  font-size: 15px;
}
.bawah .jam {
  width: 120px;
  height: 40px;
  line-height: 4;
  text-align: right;
}
.jkf {
  margin: 5px;
  width: 240px;
  height: 100px;
  padding: 10px;
  background-color: silver;
  border-radius: 10px;
  color: black;
  position: relative;
}
.jkf .lingkaran {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 46%;
  margin-top: 13px;
}
.jkf .titik-titik {
  border-right: 2px dotted white;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 0px;
}
.jkf .bawah {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}
.jkf .bawah h5 {
  line-height: 1;
}
.barcode {
  margin-top: 5px;
  height: 90px;
  width: 240px;
  border-radius: 10px;
  background-color: white;
  bottom: 5px;
  right: 60px;
  padding: 10px;
}
.barcode .flight {
  font-size: 13px;
  margin-top: -10px;
}
.barcode .titik2 {
  border-bottom: 1px solid black;
  height: 3px;
  width: 230px;
  margin-top: 10px;
  left: 10px;
}
.barcode .tengah {
  width: 230px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.tengah i {
  font-size: 12px;
}
.code {
  margin-top: 5px;
  width: 230px;
  height: 30px;
  background-image: url(../../resource/img/barcode.jpg);
  background-size: cover;
}
@media only screen and (max-width: 600px) {
  nav {
    width: 90%;
    height: 7.5%;
  }
  .judul {
      margin-left: 40px;
    font-size: 16px;
    width: 20%;
}
  .judul img {
    width: 25px;
    aspect-ratio: 1/1;
    margin-right: 8px;
  }
  .tengah {
    width: 200px;
    margin-right: 5px;
}
.tengah ul li {
    display: none;
  }
  .action {
      display: none;
    }
    .tengah .burger {
        width: 80px;
        height: 45px;
        border-radius: 13px;
        border: 1.5px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
    }
    .burger i {
        display: flex;
        font-size: 30px;
    }
    main {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .header1{
        width: 100%;
        text-align:left ;
    }
  .text {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .text p{
    text-align: left;
    width: 100%;
    height: max-content;
    font-size: large;
  }
  .status .value:nth-child(1){
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .angka{
    display: flex;
    margin: 0;
  }
  .value:nth-child(1) .top{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .garis{
    width: 100%;
  }
  .keterangan{
    text-align: left;
    width: 100%;
  }
  .status .value:nth-child(2){
    display:none;
  }
  .angka{
    display: none;
  }
  .gambar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid brown;
    width: 100%;
    height: 200%;
    margin-top:10px ;
  }
  .pesawat, .calender, .sayap, .waw, .jkf, .barcode{
    margin: 5px;
    width: 90%;
  }
  .pesawat{
    display: flex;
    justify-content: space-around;
  }
  .gambar-kiri{
    margin: 0;
  }
  .gambar-kiri, .gambar-kanan{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .tambah {
    display: none;
  }
  .header1 {
    font-size: 3rem;
    text-align: justify;
  }
  .get_started {
    width: 100%;
  }
  .gambar-kanan {
    margin-left: 0;
  }
  .garis2, .titik-titik{
    position: absolute;
    left: 45%;
  }
  .calender .top, .calender .tiket, .calender .titik, .calender .event{
    width: 100%;
  }
  .barcode .flight, .barcode .titik2, .barcode .tengah, .barcode .code{
    width: 100%;
}
.barcode .tengah{
  font-size: 15px;
}
}